@-moz-document regexp("http://www.bom.gov.au/products/\\w*.loop.shtml") {
#jumplinks, #footer, #header, .clr, #breadcrumb, #skip, h1, #state-warnings, #tabs-can, #controls-col1, #controls-col2, .viewer > tbody > tr:nth-child(2) {
    display: none;
}

* {
    background-color: unset!important;
    margin: unset!important;
    border: unset!important;
    padding: unset!important;
}

#overlay, #pageheight, body { 
    background-image: unset!important;
}

#overlay > div {
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: contain!important;
    height: 100vmin!important;
    width: 100vmin!important;
}

#overlay, #animation {
    width: 100vmin!important;
    height: 100vmin!important;
}

#content, #container, #columns, #pagewrap, #pageheight {
    height: 100vmin!important;
}

#content, #container, #columns, #pagewrap {
    width: unset!important;
}

body {
    background-color: #c0d8e8!important;
}
}
